@if (isEmpty$ | async) {
  <div class="empty-state">
    <p>Aucune image trouvée</p>
  </div>
}

@if (!(isEmpty$ | async)) {
  <div class="images-grid">
    @for (image of images$ | async; track image) {
      <div
        class="image-item"
        (click)="onImageClick(image.id!)"
        (keyup.enter)="onImageClick(image.id!)"
        tabindex="0"
      >
        <div class="image-wrapper">
          <img [src]="getSrcImage(image)" [alt]="image.type" />
        </div>
      </div>
    }
  </div>
}
