# ================================
# Application Configuration
# ================================

# Environment: dev or prod
APP_TARGET=dev
# Environment: dev, test or prod
APP_ENV=dev
APP_DEBUG=1
# Command to generate a secret : php -r "echo bin2hex(random_bytes(32));" 
# or you can use "openssl rand -hex 32"
APP_SECRET=your-secret-key-change-in-production

# ================================
# Database Configuration (MySQL)
# ================================

DB_DATABASE=greeting_card
DB_DATABASE_TEST=greeting_card_test
DB_USER=greeting_card_user
DB_PASSWORD=greeting_card_password
DB_ROOT_PASSWORD=root
MYSQL_PORT=3306

# ================================
# Services Ports
# ================================

# Frontend Angular
ANGULAR_PORT=4200
ANGULAR_HOST=0.0.0.0

# Backend PHP-FPM
PHP_PORT=9000
PHP_PORT_TEST=9001

# MySQL
MYSQL_PORT=3306

# ================================
# API Platform / CORS
# ================================

CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
